<% provide(:title, @school.short_name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @school.initials %> <%= @school.mascot %>
			</h1>
			<p>
				<%= @school.full_name %>
				<br>
				<%= @school.short_name %>
			</p>
			<p>
				<%= @school.street %>
				<br>
				<%= @school.city%>, <%= @school.region %> <%= @school.postal_code %>
			</p>
		</section>
		<section class="programs">
			<h1><%= @school.initials %> Programs</h1>
			<ul>
				<% @school.sport_programs.each do |sp| %>
					<%= link_to sp.sport, [sp.school, sp] %>

					<li><a href='#'><%= sp.school.initials %> <%= sp.sport %></a></li>
				<% end %>
			</ul>
		</section>
	</aside>
	<div class="col-md-8">
		<%= form_for(SportProgram.new) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div><%= hidden_field_tag :school, @school.id %>
				<%= hidden_field_tag :sport, "Football" %></div>
			<%= f.submit "Create a Football Program", class: "btn btn-primary" %>
		<% end %>

		<p>This is where all the dynamic stuff will go</p>
		<p>
			<ul>
				<li>Teams</li>
				<li>People</li>
			</ul>
		</p>
	</div>
</div>